{% extends 'common/base.html' %}

{% block base %}
{% if message %}
    <div class="alert alert-warning">{{ message }}</div>
{% endif %}
{% if request.session.is_login %}
  <form method='post' action=''>
  {% csrf_token %}
  <div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 col-form-label">
30秒个人视频风采展示
</label>
    <div class="col-sm-10">
      <input type="number" class="form-control" name='fengcai' id="fengcai" step="0.01" placeholder="1~10分" oninput="if(value > 10 || value < 1 ){alert('10分以内！');value = ''}" required/>
    </div>
  </div>
  <div class="form-group row">
    <label for="inputPassword3" class="col-sm-2 col-form-label">
60秒快口“说说我是谁”
</label>
    <div class="col-sm-10">
      <input type="number" class="form-control" name="kuaikou" id="kuaikou" step="0.01" placeholder="1~10分" oninput="if(value > 10 || value < 1 ){alert('10分以内！');value = ''}" required/>
    </div>
  </div>
    <div class="form-group row">
    <label for="inputPassword3" class="col-sm-2 col-form-label">
120秒快播“我为自己带货”
</label>
    <div class="col-sm-10">
      <input type="number" class="form-control" name="daihuo" id="daihuo" step="0.01" placeholder="1~10分" oninput="if(value > 10 || value < 1 ){alert('10分以内！');value = ''}" required/>
    </div>
  </div>
    <div class="form-group row col-md-4">
      <label for="inputState">请选择选手</label>
      <select id="inputState" class="form-control" name='player_name'>
        {% for player in players %}
        <option value="{{player.player_name}}">{{ player.player_name }}</option>
        {% endfor %}
      </select>
    </div>
    <input type="hidden" name='judge_id' value='{{request.session.judge_id}}'/>
  <div class="form-group row">
    <div class="col-sm-10  pull-right">
      <button type="submit" class="btn btn-primary">提交</button>
    </div>
  </div>
</form>
{% else %}
  <a class="btn btn-success" href="/login" role="button">点我登录后评分</a>
{% endif %}
{% endblock %}
