{% extends 'common/base.html' %}

{% block base %}
{% load static %}
排名页，展示选手的排名信息
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">排名</th>
      <th scope="col">选手姓名</th>
      <th scope="col">得分</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry the Bird</td>
      <td>Larry the Bird</td>
    </tr>
  </tbody>
</table>
{% endblock %}
