{% extends 'common/base.html' %}

{% block base %}
{% load static %}
<div class="alert alert-warning">总分数 = 11位评委评分的总和 减去 最大分数 及 最小分数 除以 9</div>
<table class="table table-hover">
  <thead>
    <tr>
      {% comment %} <th scope="col">排名</th> {% endcomment %}
      <th scope="col">选手姓名</th>
      <th scope="col">得分</th>
    </tr>
  </thead>
  <tbody>
{% for sort in sorts %}
    <tr>
      {% comment %} <th scope="row">{{ sort.index }}</th> {% endcomment %}
      <td>{{ sort.player_name }}</td>
      <td>{{ sort.score }}</td>
    </tr>
{% endfor %}
  </tbody>
</table>
{% endblock %}
